:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --white-text-color: #FFFFFF;
  --background-color-blue: #2196F3;
  --background-color-white: #FFFFFF;
  --background-color-button: #F5F4FA;
  --logo-text-color: #000000;
  --background-color-footer: #2F303A;
  --button-hover-blue: #188CE8;
  --transparent-link: rgba(255, 255, 255, 0.6);
  --border-header-color: #ECECEC;
  --border-picture-color: #EEEEEE;
  --icon-color-gray: #AFB1B8;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0px;
  padding-left: 0px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.logo-link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes linescale {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo .web {
  color: var(--accent-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
    margin-right: 88px;
  }
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--white-text-color);
  background-color: var(--button-hover-blue);
}

.button-portfolio {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(background-color-button);
  border-radius: 4px;
  border: transparent;
  display: block;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  color: var(--white-text-color);
  background-color: var(--background-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}

.menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.menu-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 10px;
}
.menu-logo .web {
  color: var(--accent-color);
}

.mob-menu {
  padding: 48px 40px;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  background-color: var(--background-color-white);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mob-menu {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav-link.current {
  color: var(--accent-color);
}

.mob-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-nav-link:hover, .mob-nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mob-nav-block {
  margin-bottom: 100px;
}

.menu-link {
  text-decoration: none;
}

.mob-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-tel:hover, .mob-contacts-tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mob-contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contacts-mail:hover, .mob-contacts-mail:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mob-soc-list {
  display: flex;
  margin-top: 64px;
}

.mob-soc-item {
  padding: 0 10px;
}
.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--accent-color);
  text-decoration: none;
}

.close-open-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-open-btn:hover, .close-open-btn:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.17;
  }
}
.logo-footer .web-footer {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  background-color: var(--background-color-white);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background: var(--background-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  cursor: pointer;
}

.input-wrap {
  position: relative;
}

.form-input {
  font: inherit;
  height: 40px;
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-field input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:focus::placeholder {
  font-size: 14px;
}

.text-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-privacy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .form-privacy {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-check-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-check-icon {
    margin-left: 0px;
  }
}
.modal-check-icon .check-icon {
  fill: transparent;
}

.checkbox-input:checked + .form-privacy span {
  background-color: var(--accent-color);
  border: none;
}

/* .checkbox-input:checked + .form-privacy .check-icon */
.link-color {
  color: var(--accent-color);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* display: inline-block;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover, .modal-submit-btn:focus {
  background-color: var(--button-hover-blue);
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-header-color);
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-nav .nav {
    display: none;
  }
}

.site-nav {
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-right: 0px;
  }
}

/*.site-nav-item {margin-right: 50px;}
    .site-nav-item:last-child {margin-right: 0;}*/
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover::after {
  opacity: 1;
  animation-name: linescale;
  animation-duration: 250ms;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  /* transform: scaleX(0%); */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    display: block;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 16px;
  }
}
.nav-contacts .nav-contacts-item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts .nav-contacts-item:not(:last-child) {
    margin-right: 0;
  }
}

.nav-contacts-item {
  display: flex;
  align-items: center;
}

.nav-contacts-item .link-contact {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts-item .link-contact {
    padding-top: 10px;
    padding-bottom: 0px;
    display: block;
    align-items: center;
  }
}
.nav-contacts-item .link-contact:hover, .nav-contacts-item .link-contact:focus {
  color: var(--accent-color);
}
.nav-contacts-item .link-contact .nav-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--background-color-footer);
  text-align: center;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 200px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-hero-bg.jpg);
  }
}
@media screen and (min-width: 200px) and (min-device-pixel-ratio: 2), screen and (min-width: 200px) and (min-resolution: 192dpi), screen and (min-width: 200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-hero-bg.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob-hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-hero-bg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab-hero-bg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desc-hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desc-hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 200px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.description {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .decription-list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .decription-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .decription-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .decription-item {
    width: 100%;
  }
  .decription-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .decription-item {
    width: 100%;
  }
  .decription-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .decription-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
.decription-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color-button);
  border-radius: 4px;
  margin-bottom: 30px;
  /*padding: 25px 100px;*/
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .text-title {
    text-align: center;
  }
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.picture-list {
  display: flex;
}

.picture-list__item {
  margin-right: 30px;
}
.picture-list__item:last-child {
  margin-right: 0px;
}

.picture-list__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.picture-list__card .picture-list__comment {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  /* top: 100%;
  left: 50%;
  transform: translate(-50%, -100%); */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--background-color-button);
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .team-title {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .team-list {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-item {
  width: 270px;
  margin: 0px;
  padding-bottom: 24px;
  width: 100%;
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 768px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
    padding-bottom: 30px;
  }
}

.portrait-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.position {
  margin-top: 10px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0px;
}
.team-soc-list .team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-soc-list .team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: var(--icon-color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--white-text-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 320px) {
  .section__title {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__item {
  height: 92px;
}
@media screen and (min-width: 320px) {
  .clients-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color-gray);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.adress-link-location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-decoration: none;
}

.adress-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--transparent-link);
  text-decoration: none;
}

.address-list .address-list a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .address-list a:hover, .address-list .address-list a:focus {
  color: var(--accent-color);
}

.addres-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-information {
  display: flex;
}
@media screen and (min-width: 200px) {
  .footer-information {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-information {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-information {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .footer-contacts {
    margin-bottom: 60px;
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    margin-bottom: 0px;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .socials {
    padding-top: 0px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    padding-top: 12px;
  }
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 1200px) {
  .footer-soc-title {
    text-align: left;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}
.footer-soc-item .footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-item .footer-soc-link:hover, .footer-soc-item .footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-soc-item .footer-soc-link .footer-soc-icon {
  fill: var(--white-text-color);
}

@media screen and (min-width: 320px) {
  .footer-form {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 570px;
    align-items: center;
    margin-top: 12px;
    margin-left: 93px;
  }
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form-title {
    text-align: left;
  }
}

@media screen and (min-width: 320px) {
  .footer-form-field {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form-field {
    width: 450px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-field {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.footer-input-area {
  display: flex;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-input-area {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.footer-form-input {
  width: 100%;
  height: 100%;
  padding: 15px 16px;
  background-color: transparent;
  color: var(--white-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit-btn:hover {
  background-color: var(--button-hover-blue);
  cursor: pointer;
}
.footer-submit-btn .footer-sign-icon {
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.button-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .button-list {
    margin-bottom: 40px;
  }
}
.button-list .button-list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .button-list-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.button-portfolio {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(background-color-button);
  border-radius: 4px;
  border: transparent;
  display: block;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover, .button-portfolio:focus {
  color: var(--white-text-color);
  background-color: var(--background-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio-link:hover .portfolio-description, .portfolio-link:focus .portfolio-description {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-link .portfolio-card {
  position: relative;
  overflow: hidden;
}

.picture-card {
  border: solid var(--border-picture-color);
  border-width: 0 1px 1px 1px;
  padding: 20px 24px;
  flex-grow: 1;
}
.picture-card .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.picture-card .portfolio-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list .portfolio-item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.portfolio-list .portfolio-item:hover, .portfolio-list .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .portfolio-list .portfolio-item {
    width: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-description {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  /* background-color: var(--background-color-blue); */
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */