:root {
    --primary-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --background-color-blue: #2196F3;
    --background-color-white: #FFFFFF;
    --background-color-button: #F5F4FA;
    --logo-text-color: #000000;
    --background-color-footer: #2F303A;
    --button-hover-blue: #188CE8;
    --transparent-link: rgba(255, 255, 255, 0.6);
    --border-header-color: #ECECEC;
    --border-picture-color: #EEEEEE;
    --icon-color-gray: #AFB1B8; 
}